-
  var clientsData = [
    {
      text: 'Заказывал гликоли для отопительных систем, доставили за 5 дней. Растворы качественные, сотрудники дружелюбные. Всем доволен, спасибо!',
      name: 'Александр Александров',
      position: 'Директор ООО “Никифорсталь” <br> Нижний Новгород',
      img: 'content/1.jpg'
    },
    {
      text: 'Уже 3 года работаю с ХимПроНН. Всегда привозят товар вовремя, на связи каждый день. Очень быстро оформляют документы. Рекомендую сотрудничать!',
      name: 'Сергей Бешко',
      position: 'Директор ООО “Никифорсталь” <br> Нижний Новгород',
      img: 'content/2.jpg'
    },
    {
      text: 'Большое спасибо за срочную доставку!  С другим поставщиком возникли проблемы, а антифриз нужен был буквально через два дня.. Очень выручили!',
      name: 'Виталий Гладкий',
      position: 'Директор ООО “Никифорсталь” <br> Нижний Новгород',
      img: 'content/3.jpg'
    },
  ];