-
  var aboutData = [
    {
      title: 'Безопасная утилизация гликолевых растворов',
      text: 'Безопасная утилизация гликолевых растворов'
    },
    {
      title: 'Нам доверяют',
      text: 'С 2010-года мы завоевали доверие сотен покупателей. Начав работать с нами, \n' +
              'Вы убедитесь в нашей надёжности и станете постоянным клиентом ХимПроНН'
    },
    {
      title: 'Широкий ассортимент автоцистерн',
      text: 'Доставляем продукцию специализированными изотермическими автоцистернами, которые соответствуют ' +
              'международным требованиям и нормам организации перевозки опасных грузов (ДОПОГ).'
    },
    {
      title: 'Высокий профессионализм наших сотрудников',
      text: 'Наши специалисты ответят на все интересующие Вас вопросы и помогут Вам на всех этапах покупки ' +
              'товара — от заключения договора до доставки.'
    },
    {
      title: 'Гибкая система оплаты, рассрочка до 30 дней',
      text: 'Предоставляем отсрочку платежа — поставим сейчас, заплатите в течение месяца после оформления заказа.'
    },
    {
      title: 'Порядок в документах',
      text: 'Грамотно ведём документацию, чтобы обезопасить клиентов от штрафов и проблем с законом. ' +
              'Вы можете на нас положиться'
    }
  ]
