.page-header__top-bar
  include ../top-bar/top-bar.pug
.page-header__content-wrapper
  .page-header__content
    h1.page-header__content-title Гликоли #[br] европейского качества
    p.page-header__content-text Не переплачивайте посредникам! Заказывайте сертифицированные теплоносители  #[strong напрямую от производителя, по оптовым ценам!]
    p.page-header__content-buttons
      button.button.button--red.page-header__content-button.js-modal(type='button', data-target='orderQ')
        span Заказать гликоли у #[br] производителя
#particles-js.page-header__decorations
