.top-bar
  +logo('content/logo', 'png', 111, 43).top-bar__logo
  p.top-bar__contacts
    a.top-bar__contacts-link(href='tel:+79047861081')
      <svg width="12" height="19" viewBox="0 0 12 19"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.5625 1.1875H2.4375C2.12256 1.1875 1.82051 1.31261 1.59781 1.53531C1.37511 1.75801 1.25 2.06006 1.25 2.375V16.625C1.25 16.9399 1.37511 17.242 1.59781 17.4647C1.82051 17.6874 2.12256 17.8125 2.4375 17.8125H9.5625C9.87744 17.8125 10.1795 17.6874 10.4022 17.4647C10.6249 17.242 10.75 16.9399 10.75 16.625V2.375C10.75 2.06006 10.6249 1.75801 10.4022 1.53531C10.1795 1.31261 9.87744 1.1875 9.5625 1.1875ZM2.4375 0C1.80761 0 1.20352 0.250223 0.758121 0.695621C0.312722 1.14102 0.0625 1.74511 0.0625 2.375V16.625C0.0625 17.2549 0.312722 17.859 0.758121 18.3044C1.20352 18.7498 1.80761 19 2.4375 19H9.5625C10.1924 19 10.7965 18.7498 11.2419 18.3044C11.6873 17.859 11.9375 17.2549 11.9375 16.625V2.375C11.9375 1.74511 11.6873 1.14102 11.2419 0.695621C10.7965 0.250223 10.1924 0 9.5625 0L2.4375 0Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6 16.625C6.31494 16.625 6.61699 16.4999 6.83969 16.2772C7.06239 16.0545 7.1875 15.7524 7.1875 15.4375C7.1875 15.1226 7.06239 14.8205 6.83969 14.5978C6.61699 14.3751 6.31494 14.25 6 14.25C5.68506 14.25 5.38301 14.3751 5.16031 14.5978C4.93761 14.8205 4.8125 15.1226 4.8125 15.4375C4.8125 15.7524 4.93761 16.0545 5.16031 16.2772C5.38301 16.4999 5.68506 16.625 6 16.625Z"/></svg>
      span +7 904 786 10 81
  +nav().top-bar__nav
