-
  var navData = [
    {title: 'Продукция', href: '#glikoli__where'},
    {title: 'О компании', href: '#about'},
    {title: 'Акция', href: '#stock'},
    {title: 'Контакты', href: '#page-footer'},
  ];