-
  //- Данные о разработчике
  const developer = {
    name: 'Senurable Web Factory',
    email: 'hello@senurable.com',
  }

  //- Деструктурируем данные
  const {name, email} = developer;

  //- Настройки
  const setting = {
    language: 'ru',
    charset: 'utf-8',
    siteName: 'Название сайта',
    siteURL: 'http://localhost:3000/',
    imagesPath: 'images/',
    faviconPath: 'favicon/'
  }

  //- Деструктурируем настройки
  const {language, charset, siteName, siteURL, imagesPath, faviconPath} = setting;